[Unit]
Description=weblab Auto-Update
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/weblab/src/install.sh --update --yes
